BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
AlignAfterOpenBracket: Align
BraceWrapping:
  AfterFunction: true
  AfterClass: true
  AfterControlStatement: false
  BeforeCatch: true
  AfterEnum: true
  AfterStruct: true
  BeforeLambdaBody: true